<!-- Loop over each object in the projects array -->
{{#each reviews as |review|}}
  <div class="row">
    <div class="col-md-5">
      <h2 id="review-title">{{review.title}}</h2>
      <p>{{rating}}/10</p>
      <p>Created by {{review.user.name}} on {{formatDate}}</p>
    </div>
    <div class="col-md-7">
      <p>
        {{review.description}}
      </p>
    </div>
    <div>
      <h3>Album Data</h3>
      {{#if review.albumData}}
        <p>Album Title: {{review.albumData.title}}</p>
        <p>Artist Name: {{review.albumData.artist.name}}</p>
        {{!-- <p>Cover Image: {{review.albumData.cover_medium}}</p> --}}
        <img src="{{review.albumData.cover_medium}}" width="300px" />
        <a href="/edit/{{review.id}}"> Edit/Delete Review</a>
        <a href="/comment"> Post comment</a>
      {{else}}
        <p>No albums found</p>
      {{/if}}
    </div>
  </div>
{{/each}}