<!-- Loop over each object in the projects array -->
{{#each reviews as |review|}}
  <div class="review-container">
    <div class="review-contents">
      <h2 id="review-title">{{review.title}}</h2>
      <p>{{review.description}}</p>
      <p>{{rating}}</p>
      <p>Created by {{review.user.name}} on {{formatDate}}</p>
      <div class="button-container">
        <button type="submit" class="btn btn-primary">Comment</button>
      </div>
    </div>
    <div class="review-album-image">
      <img class="album-cover" src="{{review.albumData.cover_medium}}" />
    </div>
  </div>
{{/each}}