<!-- Loop over each object in the projects array -->
{{#each reviews as |review|}}
  <div class="review-container">
    <div class="review-contents">
      <h2 id="review-title">{{review.title}}</h2>
      <p>{{review.description}}</p>
      <p>{{rating}}/10</p>
      <p>Created by {{review.user.name}}</p>
      <div class="button-container">
        <a href="/comment" type="submit" class="btn btn-primary">Add Comment</a>
        <a href="/comments/" type="submit" class="btn btn-primary">View Comments</a>
      </div>
    </div>
    <div class="review-album-image">
      <img class="album-cover" src="{{review.albumData.cover_medium}}" />
    </div>
  </div>
{{/each}}