<!-- Loop over each object in the projects array -->
{{#each reviews as |review|}}
  <div class="review-container">
    <div class="review-contents">
      <h2 id="review-title">{{review.title}}</h2>
      <p>{{review.description}}</p>
      <p>{{rating}}/10</p>
      <p>Created by {{review.user.name}}</p>
    </div>
    <div class="review-album-image">
      <img class="album-cover" src="{{review.albumData.cover_medium}}" />
      <div class="button-container">
        <a
          href="/comment/{{review.id}}"
          type="submit"
          class="btn btn-primary"
        >Add Comment</a>
        <a
          href="/comments/{{review.id}}"
          type="submit"
          class="btn btn-primary"
        >View Comments</a>
      </div>
    </div>
  </div>
{{/each}}